// Variaveis 
    // Cores
    $cor-primaria: #0C0421;
    $cor-secundaria: #4E75FF;
    $cor-terciaria: #85A0FF;
    $cor-quartenaria: #CAD4FA;
    $cor-texto-btn: #FFFFFF;
    $background-footer: #E8F5C8;
    $gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
    $gradiente-secundario: linear-gradient(180deg, #ffffffb3 0%, #cad4fa4d 100%);
    // Fontes
    $fonte-texto: 'Montserrat', sans-serif;
    $fonte-titulo: 'Krona One', sans-serif;
    // Tamanhos de fontes
    $tamanho-titulo: 42px;
    $tamanho-subtitulo: 31px;
    $tamanho-subtitulo-menor: 24px;
    $tamanho-paragrafo: 20px;
    $tamanho-small: 15px;